.oneleft{ float: left; width: 196px; margin-right: 10px; border: 2px solid #1D7AD9; height: 361px; border-top: 0;}
.subdl{ position: relative;}
.subdl dl{ border-bottom: 1px dashed #ddd; padding: 11px;}
.subdl:last-child dl{ border-bottom: 0;}
.subdl dl dt a{ color: #1D7AD9; font-size: 16px; font-family: "微软雅黑"; display: block; background: url(../img/ico4.png) no-repeat right center; margin-bottom: 11px;}
.subdl dl dd a{ display: inline-block; margin-right: 10px; line-height: 22px;}
.subdl:hover{ background-color: #1D7AD9;}
.subdl:hover dl dt a{ color: #fff; background-image: url(../img/ico5.png);}
.subdl:hover dl dd a{ color: #fff;}
.subnav{ position: absolute; left: 196px; top: 0; border: 2px solid #1D7AD9; padding: 30px; background-color: #fff; display: none; z-index: 999;}
.subdl:hover .subnav{ display: block;}

.banner{ float: left; width: 755px; height: 353px; overflow: hidden; margin-top: 10px; position: relative;}
.banspan{ position: absolute; right: 20px; bottom: 20px;}
.banspan span{ display: inline-block; width: 16px; height: 16px; background-color: #000; color: #fff; margin-left: 10px; border-radius: 100%; text-align: center; line-height: 16px; cursor: pointer;}
.banspan span:hover,.banspan span:first-child{ background-color: #FF7700;}
.two{ margin-top: 20px; border: 1px solid #DEDEDE; border-top: 2px solid #F5619C;}
.twoleft{ float: left; width: 250px; height: 485px; position: relative;}
.addimg{ width: 250px; height: 485px; overflow: hidden;}
.addspan{ position: absolute; left: 70px; bottom: 50px;}
.addspan span{ display: inline-block; width: 30px; height: 4px; background-color: #000; margin: 0 5px; cursor: pointer;}
.addspan span:first-child, .addspan span:hover{ background-color: #FF7700;}

.twomid{ float: left; width: 712px;}
